<table class="table table-borderless">
    <tbody>
      <% posts.each do |post| %>
      <tr>
          <td>エリア:<%= link_to posts_path(prefecture_id: post.prefecture_id) do %>
                       <%= post.prefecture_id %>
                     <% end %>
              投稿者：<%= link_to posts_user_path(post.user_id) do %><%= post.user.name %><% end %>
          </td>
          <td></td>
          <td><%= l post.created_at, format: :short %></td>
      </tr>
      <tr>
          <td><%= image_tag post.get_post_park_image, size: '200x200' %></td>
          <td>パーク名<br>コメント</td>
          <td><%= post.park %><br><%= post.park_caption %></td>
      </tr>
      <tr>
          <td><%= image_tag post.get_post_sento_image, size: '200x200' %></td>
          <td>銭湯名<br>コメント</td>
          <td><%= post.sento %><br><%= post.sento_caption %></td>
      </tr>
      <tr>
          <td>タグ</td>
          <td></td>
          <td>
            <% post.post_tags.each do |post_tag| %>
              #<%= link_to posts_path(post_tag_id: post_tag.id) do %>
                <%= post_tag.name %>
                <% end %>
            <% end %>
          </td>
      </tr>
      <tr>
          <td></td>
          <td id="like_buttons_<%= post.id %>">
            <%= render 'public/likes/like', post: post %>
              <span class="count">
                <%= render 'public/post_comments/count', post: post %>
              </span>
          </td>
      </tr>
      <tr>
            <td class="comment_list">
              <%= render 'public/post_comments/comment_list', post: post %>
            </td>
     </tr>
      <tr>
          <td class="form">
            <%= render 'public/post_comments/form', post: post, post_comment: post_comment %>
          </td>
          <td></td>
          <td></td>
      </tr>
      <tr>
          <td></td>
          <td></td>
        <% if post.user == current_user %>
          <td><%= link_to "編集する", edit_post_path(post.id) %> <%= link_to "削除する", post_path(post.id), method: :delete, data: { confirm: '本当に削除しますか？'} %></td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
</table>