<div class="user-post-list">
  <% posts.each do |post| %>
      <div class="post-user-info"><i class="fas fa-user"></i>：<%= link_to "#{post.user.name}", posts_user_path(post.user_id), class: 'post-user' %>
        <div class="post-area-date-box">
            <div class="post-area-date">エリア: <%= link_to "#{post.prefecture_id}", posts_path(prefecture_id: post.prefecture_id), class: "btn btn-outline-warning rounded-pill btn-sm mt-2 mb-2" %></div>
            <div></div>
            <div class="post-area-date">投稿日：<%= l post.created_at, format: :short %></div>
        </div>
      </div>
    <div class="row post-box">
      <div class="col-md-5">
        <div class="card mb-2">
          <h4 class="post-park-sento-title">
            PARK
          </h4>
          <%= image_tag post.get_post_park_image, class: 'card-img-top', height:'300' %>
          <div class="card-body">
            <div class="post-spark-sento-explain">
             <i class="fas fa-store-alt"></i>:  <strong><%= post.park %></strong><br>
             <i class="fas fa-comment"></i>:  <%= post.park_caption %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="card mb-2">
          <h4 class="post-park-sento-title">
            銭湯
          </h4>
          <%= image_tag post.get_post_sento_image, class: 'card-img-top', height:'300' %>
          <div class="card-body">
            <div class="post-spark-sento-explain">
              <i class="fas fa-store-alt"></i>: <strong><%= post.sento %></strong><br>
              <i class="fas fa-comment"></i>: <%= post.sento_caption %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="post-tag-list">
      <i class="fas fa-tag" style="color: #628961;"></i>
      <% post.post_tags.each do |post_tag| %>
        <%= link_to "#{post_tag.name}", posts_path(post_tag_id: post_tag.id), class: "btn btn-outline-warning rounded-pill btn-sm mt-2 mb-1" %>
      <% end %>
    </div>
    <div class="like-comment-count">
      <div id="like_buttons_<%= post.id %>">
        <%= render 'public/likes/like', post: post %>
      </div>
      <span class="count">
        <%= render 'public/post_comments/count', post: post %>
      </span>
    </div>

    <div class="comment_list">
      <%= render 'public/post_comments/comment_list', post: post %>
    </div>
    <div class="form">
      <%= render 'public/post_comments/form', post: post, post_comment: post_comment %>
    </div>
    <div class="post-edit">
      <% if post.user == current_user %>
        <%= link_to edit_post_path(post.id), class: 'post-edit-link' do %>
          <i class="fas fa-edit fa-lg"></i>
        <% end %><span>/</span>
       <%= link_to post_path(post.id), method: :delete, data: { confirm: '本当に削除しますか？'}, class: 'post-delete-link' do %>
            <i class="fas fa-trash-alt fa-lg"></i>
          <% end %>
      <% end %>
    </div>
  <% end %>
</div>
