<table class="table table-borderless">
    <tbody>
      <% posts.each do |post| %>
      <tr>
          <td>エリア:<%= post.prefecture_id %> 投稿者：<%= link_to posts_user_path(post.user_id) do %><%= post.user.name %><% end %></td>
          <td></td>
          <td><%= l post.created_at, format: :short %></td>
      </tr>
      <tr>
          <td><%= image_tag post.get_post_park_image, size: '200x200' %></td>
          <td>パーク名<br>コメント</td>
          <td><%= post.park %><br><%= post.park_caption %></td>
      </tr>
      <tr>
          <td><%= image_tag post.get_post_sento_image, size: '200x200' %></td>
          <td>銭湯名<br>コメント</td>
          <td><%= post.sento %><br><%= post.sento_caption %></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
          <td id="like_buttons_<%= post.id %>">
            <%= render 'public/likes/like', post: post %>
            <br>
            コメント：<%= post.post_comments.count %>件
          </td>
      </tr>
      <tr>
          <% post.post_comments.each do |post_comment| %>
            <td>
                <%= post_comment.user.name %>のコメント<br>
                <%= post_comment.comment %>
                <% if post_commet.user == current_user %>
                  <%= link_to "コメントを削除する", post_post_comment_path, method: :delete %>
                <% end %>
            </td>
          <% end %>
      </tr>
      <tr>
          <td><%= form_with model: [post, post_comment] do |f| %>
                <%= f.text_area :comment, placeholder: "コメントをここにしてください" %>
                <%= f.submit 'コメントをする' %>
              <% end %>
          </td>
          <td></td>
          <td></td>
      </tr>
      <tr>
          <td></td>
          <td></td>
        <% if post.user == current_user %>
          <td><%= link_to "編集する", edit_post_path(post.id) %> <%= link_to "削除する", post_path(post.id), method: :delete, data: { confirm: '本当に削除しますか？'} %></td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
</table>