<div class="card-block">
  <div class="card col-8 mb-5 border-warning">
    <div class="card-title">
      SKATE AND SENTOを変更
    </div>
    <div class="card-body login-card-body">
      <%= form_with model: @post do |f| %>
        <%= render 'layouts/errors', obj: @post %>
          <div class="row g-3">
            <div class="col-md-12 input-group row">
              <%= f.select :prefecture_id, Post.prefecture_ids.keys, {include_blank: true, prompt: 'エリアを選択してくだい'}, class: 'form-control' %>
            </div>
            <div class="col-md-6 mb-3">
              <div class="field">
                PARK
                <%= f.file_field :post_park_image, accept: "image/*" %>
              </div>
            </div>
            <div class="col-md-6 mb-3">
               <div class="field">
                銭湯
                <%= f.file_field :post_sento_image, accept: "image/*" %>
               </div>
            </div>
            <div class="col-md-6 mb-3">
              <%= f.text_field :park, class: 'form-control', placeholder: 'park name' %>
            </div>
            <div class="col-md-6 mb-3">
              <%= f.text_field :sento, class: 'form-control', placeholder: '銭湯 name' %>
            </div>
             <div class="col-md-6 mb-3">
              <%= f.text_area :park_caption, class: 'form-control', placeholder: 'PARKのコメント' %>
            </div>
             <div class="col-md-6 mb-3">
              <%= f.text_area :sento_caption, class: 'form-control', placeholder: '銭湯のコメント' %>
            </div>
            <div class="col-md-12 mb-3">
              <div class="form-check text-center">
               <i class="fas fa-tag" style="color: #628961;"></i> <%= f.collection_check_boxes :post_tag_ids, PostTag.all, :id , :name, class: 'form-check-label' %>
              </div>
            </div>
            <div class="col-md-12 mb-3 text-center">
              <%= f.submit 'SKATE AND SENTOを変更', class: 'btn btn-secondary' %>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>