<h2 class="admin-title">銭湯新規登録</h2>
  <div class="admin-park-sento-new mt-3 mb-5">
    <%= form_with model: @sento, url: admin_sentos_path, method: :post do |f| %>
      <%= render 'layouts/errors', obj: @sento %>
        <table class="table table-borderless">
          <h3 class="admin-subtitle">基本情報</h3>
           <tbody>
              <tr align="center">
                <div class="form_group">
                  <td>エリアを選択</td>
                  <td><%= f.select :prefecture_id, Sento.prefecture_ids.keys, {}, class: 'form-control' %></td>
                </div>
              </tr>
              <tr align="center">
                <div class="form_group">
                  <td>画像</td>
                  <td><%= f.file_field :sento_images, multiple: true %></td>
                </div>
              </tr>
              <tr align="center">
                <div class="form_group">
                  <td>銭湯名</td>
                  <td><%= f.text_field :name, placeholder: 'XXX温泉', class: 'form-control' %></td>
                </div>
              </tr>
              <tr align="center">
                <div class="form_group">
                  <td>紹介</td>
                  <td><%= f.text_area :introduction, placeholder: '一言コメント', class: 'form-control' %></td>
                </div>
              </tr>
              <tr align="center">
                <div class="form_group">
                  <td>住所</td>
                  <td><%= f.text_field :address, placeholder: '大阪府XXX',class: 'form-control' %></td>
                </div>
              </tr>
              <tr align="center">
                <div class="form_group">
                  <td>郵便番号</td>
                  <td>〒<%= f.text_field :postal_code, placeholder: '〒ハイフン含める', class: 'form-control' %></td>
                </div>
              </tr>
              <tr align="center">
                <div class="form_group">
                  <td>営業時間</td>
                  <td><%= f.text_field :business_hour, placeholder: '00:00-23:00', class: 'form-control' %></td>
                </div>
              </tr>
              <tr align="center">
                <div class="form_group">
                  <td>定休日</td>
                  <td><%= f.text_field :holiday, placeholder: 'X曜日', class: 'form-control' %></td>
                </div>
              </tr>
              <tr align="center">
                <div class="form_group">
                  <td>TEL</td>
                  <td><%= f.text_field :telephone_number, placeholder: '090-XXXX-XXXX', class: 'form-control' %></td>
                </div>
              </tr>
              <tr align="center">
                <div class="form_group">
                  <td>料金</td>
                  <td><%= f.text_field :price, placeholder: '大人:490円、子供:390円、サウナ:100円', class: 'form-control' %></td>
                </div>
              </tr>
              <tr align="center">
                <div class="form_group">
                  <td>無料パーキング</td>
                  <td><%= f.text_field :parking, placeholder: 'X台無料', class: 'form-control' %></td>
                </div>
              </tr>
              <tr align="center">
                <div class="form_group">
                  <td>掲載ステータス</td>
                  <td><%= f.radio_button :is_active, true %>
                      <%= f.label :is_active, "掲載中" %>
                      <%= f.radio_button :is_active, false %>
                      <%= f.label :is_active, "掲載停止中" %></td>
                </div>
              </tr>
          </tbody>
        </table>
<h3 class="admin-subtitle">設備情報</h3>
        <table class="table table-borderless">
          <tbody>
              <tr align="center">
                <div class="form_group">
                  <td>サウナ</td>
                  <td><%= f.radio_button :sauna, true %>
                      <%= f.label :sauna, "あり" %>
                      <%= f.radio_button :sauna, false %>
                      <%= f.label :sauna, "なし" %></td>
                </div>
              </tr>
              <tr align="center">
                <div class="form_group">
                  <td>サウナの温度</td>
                  <td>約<%= f.text_field :temperature, placeholder: 'サウナがない場合は0と記入', class: 'form-control' %>℃</td>
                </div>
              </tr>
              <tr align="center">
                <div class="form_group">
                  <td>貸しタオル</td>
                  <td><%= f.text_field :towel, placeholder: 'あり(有料)', class: 'form-control' %></td>
                </div>
              </tr>
              <tr align="center">
                <div class="form_group">
                  <td>石鹸類</td>
                  <td><%= f.text_field :soap, class: 'form-control' %></td>
                </div>
              </tr>
              <tr align="center">
                <div class="form_group">
                  <td>露天風呂</td>
                  <td><%= f.radio_button :open_air_bath, true %>
                      <%= f.label :open_air_bath, "あり" %>
                      <%= f.radio_button :open_air_bath, false %>
                      <%= f.label :open_air_bath, "なし" %></td>
                </div>
              </tr>
              <tr align="center">
                <div class="form_group">
                  <td>水風呂</td>
                  <td><%= f.radio_button :cold_bath, true %>
                      <%= f.label :cold_bath, "あり" %>
                      <%= f.radio_button :cold_bath, false %>
                      <%= f.label :cold_bath, "なし" %></td>
                </div>
              </tr>
         </tbody>
      </table>
              <h3 class="admin-subtitle">タグ選択</h3>
      <table class="table table-borderless">
        <tbody>
              <tr align="center">
                <div class="form_group">
                  <td><%= f.collection_check_boxes :sento_tag_ids, SentoTag.all, :id, :name %></td>
                </div>
              </tr>
        </tbody>
      </table>
      <div class="admin-park-sento-submit">
        <%= f.submit "新規登録", class: 'col-5 btn btn-primary mt-3' %>
      </div>
    <% end %>
  </div>
