<h1 class="tittle">OSAKA & KYOTO<br>SKATE AND SENTO</h1>
<h5 class="introduction">大阪、京都のスケートパーク、銭湯の情報をご紹介！！</h5>

<div class="park-sento">
  <%= link_to parks_path, class: 'text-decoration-none' do %>
  <div class="park-visual">
      <div class="park-visual-link">
        <div class="park_visual_link">
        スケートパークから探す
        </div>
      </div>
  </div>
  <% end %>
  <%= link_to sentos_path, class: 'text-decoration-none' do %>
  <div class="sento-visual">
      <div class="sento-visual-link">
        <div class="sento_visual_link">
        銭湯から探す
        </div>
      </div>
  </div>
  <% end %>
</div>

<div class="log-or-sign">
  <h4><i class="fas fa-hand-point-right"></i><%= link_to "銭湯好きスケーターのSKATE AND SENTOの投稿をチェック", posts_path, class: 'link_post' %><i class="fas fa-hand-point-left"></i></h4>
  <% unless user_signed_in? %>
      <p class="login_comment">
        ※投稿、レビューを見るには<%= link_to"新規登録", new_user_registration_path, class: 'log-sign-link' %>、
        <%= link_to"ログイン", new_user_session_path, class: 'log-sign-link' %>が必要です
      </p>
  <% end %>
</div>

<div class="park-sento-ranking">
  <div class="park-ranking p-3 mr-5">
      <p class="top3">人気パークTOP3</p>
      <% @park_averages.each.with_index(1) do |park, i| %>
          <h5 class="rank-number"><%= ranking_position_with_fuffix(i) %></h5>
          <p><%= link_to "#{park.name}", park_path(park), class: "rank_name" %></p>
      <% end %>
  </div>
  <div class="sento-ranking p-3 ml-5">
      <p class="top3">人気銭湯TOP3</p>
      <% @sento_averages.each.with_index(1) do |sento, i| %>
          <h5 class="rank-number"><%= ranking_position_with_fuffix(i) %></h5>
          <p><%= link_to "#{sento.name}", sento_path(sento), class: "rank_name" %></p>
      <% end %>
  </div>
</div>

