<h1 class="tittle">OSAKA & KYOTO<br>SKATE AND SENTO</h1>
<h5 class="introduction">大阪、京都のスケートパーク、銭湯の情報をご紹介！！</h5>

<div class="park-sento">
  <div class="park-visual">
      <div class="park-visual-link">
        <%= link_to "スケートパークから探す", parks_path %>
      </div>
  </div>
  <div class="sento-visual">
      <div class="sento-visual-link">
        <%= link_to "銭湯から探す", sentos_path %>
      </div>
  </div>
</div>

<h4><%= link_to "銭湯好きスケーターのSKATE AND SENTOの投稿をチェック", posts_path %></h4>
<% unless user_signed_in? %>
    <p>
      ※投稿、レビューを見るには<%= link_to"新規登録", new_user_registration_path %>、
      <%= link_to"ログイン", new_user_session_path %>が必要です
    </p>
<% end %>


  <% @park_averages.each.with_index(1) do |park, i| %>
    <div>
      <h5><%= ranking_position_with_fuffix(i) %></h5>
      <p><%= link_to "#{park.name}", park_path(park) %></p>
    </div>
  <% end %>

  <% @sento_averages.each.with_index(1) do |sento, i| %>
    <div>
      <h5><%= ranking_position_with_fuffix(i) %></h5>
      <p><%= link_to "#{sento.name}", sento_path(sento) %></p>
    </div>
  <% end %>

