<h3>銭湯レビュー一覧</h3>
<h5><%= link_to "パークレビュー一覧", admin_park_reviews_path %></h5>
<table class="table">
    <thead>
        <tr>
            <th>投稿日</th>
            <th>投稿者</th>
            <th>銭湯名</th>
            <th>レビュー内容</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% @sento_reviews.each do |sento_review| %>
          <tr>
            <td><%= l sento_review.created_at, format: :default %></td>
            <td><%= sento_review.user.name %></td>
            <td><%= sento_review.sento.name %></td>
            <td><%= sento_review.comment %></td>
            <td><%= link_to "レビューを削除", admin_sento_review_path(sento_review), method: :delete, data: { confirm: 'レビューを削除しますか？' } %></td>
          </tr>
        <% end %>
    </tbody>
</table>
