<h2>パーク編集</h2>
  <h3>基本情報</h3>

      <%= form_with model: @park, url: admin_park_path, method: :patch do |f| %>

            <% if @park.errors.any? %>
                  <div id="error_explanation">
                    <h2><%= pluralize(@park.errors.count, "error") %> prohibited this park from being saved:</h2>
                    <ul>
                      <% @park.errors.each do |error| %>
                        <li><%= error.full_message %></li>
                      <% end %>
                    </ul>
                  </div>
              <% end %>

        <table class="table table-borderless">
            <tbody>
             <tr>
                  <div class="form_group">
                    <td>掲載ステータス</td>
                   <td><%= f.radio_button :is_active, true %>
                        <%= f.label :is_active, '掲載中' %>
                        <%= f.radio_button :is_active, false %>
                        <%= f.label :is_active, '掲載停止中' %>
                   </td>
                  </div>
              </tr>
              <tr>
                  <div class="form_group">
                    <td>エリアを選択</td>
                    <td><%= f.select :prefecture_id, Park.prefecture_ids.keys, {} %></td>
                  </div>
              </tr>
              <tr>
                  <div class="form_group">
                    <td>画像</td>
                    <td>
                        <% if @park.park_images.present? %>
                            <% @park.park_images.each do |image| %>
                              <%= image_tag image, size: '200x200' %>
                            <% end %>
                          <% end %>
                        <%= f.file_field :park_images, multiple: true %>
                    </td>
                  </div>
              </tr>
              <tr>
                  <div class="form_group">
                    <td>パーク名</td>
                    <td><%= f.text_field :name %></td>
                  </div>
              </tr>
              <tr>
                  <div class="form_group">
                    <td>紹介</td>
                    <td><%= f.text_area :introduction %></td>
                  </div>
              </tr>
              <tr>
                  <div class="form_group">
                    <td>住所</td>
                    <td><%= f.text_field :address %></td>
                  </div>
              </tr>
              <tr>
                  <div class="form_group">
                    <td>郵便番号</td>
                    <td>〒<%= f.text_field :postal_code, placeholder: 'ハイフン含める' %></td>
                  </div>
              </tr>
              <tr>
                  <div class="form_group">
                    <td>オープン時間</td>
                    <td><%= f.text_field :business_hour %></td>
                  </div>
              </tr>
              <tr>
                  <div class="form_group">
                    <td>定休日</td>
                    <td><%= f.text_field :holiday %></td>
                  </div>
              </tr>
              <tr>
                  <div class="form_group">
                    <td>TEL</td>
                    <td><%= f.text_field :telephone_number %></td>
                  </div>
              </tr>
              <tr>
                  <div class="form_group">
                    <td>料金</td>
                    <td><%= f.text_field :price, placeholder: '大人:490円、子供:390円' %></td>
                  </div>
              </tr>
              <tr>
                  <div class="form_group">
                    <td>無料パーキング</td>
                    <td><%= f.text_field :parking %></td>
                  </div>
              </tr>
               <tr>
                  <div class="form_group">
                    <td>ヘルメット義務</td>
                    <td><%= f.text_field :helmet %></td>
                  </div>
              </tr>
          </tbody>
        </table>
  <h3>セクション</h3>
                  <div class="form-group">
                    <%= f.collection_check_boxes :section_ids, Section.all, :id, :name %>
                    <%#= f.fields_for :park_sections do |park_section| %>
                      <%#= park_section.collection_check_boxes :section_id, Section.all, :id, :name %>
                    <%# end %>
                  </div>
<h3>最寄り銭湯</h3>
                  <div class="form_group">
                    <%= f.collection_select :sento_ids, Sento.all, :id, :name, options = { include_blank: true }, prompt: '選択してください' %>
                  </div>

                  <%#= f.collection_check_boxes :section_id, Section.all, :id, :name %>
<h6>タグ選択</h6>
                  <div class="form_group">
                    タグを選択
                    <%= f.collection_check_boxes :park_tag_ids, ParkTag.all, :id, :name %>
                  </div>
                    <%= f.submit "銭湯を追加、変更を保存する" %>
    <% end %>