<%= link_to  admin_park_path(@park), class: "back-link-park-sento" do %>
  <i class="fas fa-angle-double-left"></i>BACK
<% end %><br>
<h2 class="admin-title mt-5">パーク編集</h2>
  <div class="admin-park-sento-new col-12 mt-3 mb-5">
    <%= form_with model: @park, url: admin_park_path, method: :patch do |f| %>
      <%= render 'layouts/errors', obj: @park %>
        <table class="table table-borderless">
          <h3 class="admin-subtitle">基本情報</h3>
           <tbody>
              <tr align="center">
                <div class="form_group">
                  <td>掲載ステータス</td>
                  <td><%= f.radio_button :is_active, true %>
                      <%= f.label :is_active, "掲載中" %>
                      <%= f.radio_button :is_active, false %>
                      <%= f.label :is_active, "掲載停止中" %>
                  </td>
                </div>
              </tr>
              <tr align="center">
                <div class="form_group">
                  <td>エリアを選択</td>
                  <td><%= f.select :prefecture_id, Park.prefecture_ids.keys, {}, class: 'form-control col-6' %></td>
                </div>
              </tr>
              <tr align="center">
                <div class="form_group">
                  <td>画像</td>
                  <td>
                    <% if @park.park_images.present? %>
                      <% @park.park_images.each do |image| %>
                        <%= image_tag image, size: '200x200' %>
                      <% end %>
                    <% end %>
                    <%= f.file_field :park_images, multiple: true %>
                  </td>
                </div>
              </tr>
              <tr>
                  <div class="form_group">
                    <td>パーク名</td>
                    <td><%= f.text_field :name, class: 'form-control' %></td>
                  </div>
              </tr>
              <tr>
                  <div class="form_group">
                    <td>紹介</td>
                    <td><%= f.text_area :introduction, class: 'form-control' %></td>
                  </div>
              </tr>
              <tr>
                  <div class="form_group">
                    <td>住所</td>
                    <td><%= f.text_field :address, class: 'form-control' %></td>
                  </div>
              </tr>
              <tr>
                  <div class="form_group">
                    <td>郵便番号</td>
                    <td>〒<%= f.text_field :postal_code, placeholder: 'ハイフン含める', class: 'form-control' %></td>
                  </div>
              </tr>
              <tr>
                  <div class="form_group">
                    <td>オープン時間</td>
                    <td><%= f.text_field :business_hour, class: 'form-control' %></td>
                  </div>
              </tr>
              <tr>
                  <div class="form_group">
                    <td>定休日</td>
                    <td><%= f.text_field :holiday, class: 'form-control' %></td>
                  </div>
              </tr>
              <tr>
                  <div class="form_group">
                    <td>TEL</td>
                    <td><%= f.text_field :telephone_number, class: 'form-control' %></td>
                  </div>
              </tr>
              <tr>
                  <div class="form_group">
                    <td>料金</td>
                    <td><%= f.text_field :price, placeholder: '大人:490円、子供:390円', class: 'form-control' %></td>
                  </div>
              </tr>
              <tr>
                  <div class="form_group">
                    <td>無料パーキング</td>
                    <td><%= f.text_field :parking, class: 'form-control' %></td>
                  </div>
              </tr>
               <tr>
                  <div class="form_group">
                    <td>ヘルメット義務</td>
                    <td><%= f.text_field :helmet, class: 'form-control' %></td>
                  </div>
              </tr>
          </tbody>
        </table>
      <h3 class="admin-subtitle">セクション</h3>
                  <div class="form-group">
                    <%= f.collection_check_boxes :section_ids, Section.all, :id, :name, class: 'form-control' %>
                  </div>
      <h3 class="admin-subtitle">タグ選択</h3>
                  <div class="form_group">
                    <%= f.collection_check_boxes :park_tag_ids, ParkTag.all, :id, :name, class: 'form-control, pr-3' %>
                  </div>
      <h3 class="admin-subtitle">最寄り銭湯</h3>
                  <div class="form_group">
                    <%= f.collection_select :sento_ids, Sento.all, :id, :name, options = { include_blank: true }, prompt: '選択してください' %>
                  </div>
                  <div class="admin-park-sento-submit">
                    <%= f.submit "銭湯を追加、変更を保存する", class: 'col-5 btn btn-success mt-3' %>
                  </div>
    <% end %>
  </div>
