<h3 class="admin-title mt-5">PARK LIST</h3>
  <h4><%= link_to "パーク新規登録", new_admin_park_path, class: 'btn btn-lg btn-info mb-3' %></h4>
  <h5>全<%= @parks.total_count %>件</h5>
    <table class="table table-bordered table-striped">
      <thead>
        <tr align="center">
          <th>ID</th>
          <th>パーク名</th>
          <th>エリア</th>
          <th>お気に入り数</th>
          <th>レビュー数</th>
          <th>レビューの評価(1~5)</th>
          <th>ステータス</th>
          <th>作成日</th>
        </tr>
      </thead>
      <tbody>
        <% @parks.each do |park| %>
          <tr align="center">
            <td><%= park.id %></td>
            <td><%= link_to admin_park_path(park.id), class: "admin-obj-name-link" do %><%= park.name %><% end %></td>
            <td><%= park.prefecture_id %></td>
            <td><%= park.park_favorites.count %>件</td>
            <td><%= park.park_reviews.count %>件</td>
            <td><%= park.park_reviews.average(:star).to_f.round(1) %></td>
            <td><%= park.active_status %></td>
            <td><%= l park.created_at, format: :short %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <div class="page">
    <%= paginate @parks %>
  </div>
