<h2><%= @post.user.name %>の投稿詳細</h2>

<%= link_to "会員情報詳細画面へ", admin_user_path(@user) %>
<%= link_to "この会員の投稿一覧へ", posts_admin_user_path(@user) %>

<table class="table table-borderless">
    <tbody>
      <tr>
          <td>エリア:<%= @post.prefecture_id %></td>
          <td></td>
          <td><%= l @post.created_at, format: :short %></td>
      </tr>
      <tr>
          <td><%= image_tag @post.get_post_park_image, size: '200x200' %></td>
          <td>パーク名<br>コメント</td>
          <td><%= @post.park %><br><%= @post.park_caption %></td>
      </tr>
      <tr>
          <td><%= image_tag @post.get_post_sento_image, size: '200x200' %></td>
          <td>銭湯名<br>コメント</td>
          <td><%= @post.sento %><br><%= @post.sento_caption %></td>
          <td><%= @post.likes.count %></td>
          <td><%= link_to "削除する", admin_post_path(@post), method: :delete, data: { confirm: '本当に削除しますか？'} %></td>
      </tr>
    </tbody>
</table>