<h4>
  <%= link_to park_path(park.id) do %><%= park.name %><% end %>
</h4>
<h5>
  <%= render 'public/parks/park_favorite_buttun', park: park %>
</h5>
    <%= park.address %>
    エリア：<%= park.prefecture_id %>
      <% if park.sentos.present? %>
          <% park.sentos.each do |sento| %>
              最寄り銭湯♨︎:<%= link_to sento_path(sento.id) do %>
                <%= sento.name %>
              <% end %>
          <% end %>
      <% else %>
        最寄り銭湯♨︎:まだ情報はありません
      <% end %>
      <br>
    <% park.park_images.each do |park_image| %>
      <%= image_tag park_image, size: '200x200' %>
    <% end %>