<div class="park-sento-list">
  <div class="park-sento-image-index">
    <%= image_tag park.park_images.first, size: '600x400', class: "park_sento_image" %>
  </div>
      <h4>
        <%= link_to park_path(park.id), class: "park_sento_name_index" do %><%= park.name %><% end %>
      </h4>
      <div class="park-sento-mini-info">
          <i class="fas fa-map-pin fa-lg"></i>  <%= park.address %><br>
        <% if park.sentos.present? %>
            <% park.sentos.each do |sento| %>
                <i class="fas fa-hot-tub fa-lg"></i>  最寄り銭湯：<%= link_to sento_path(sento.id), class: 'near-park-sento' do %>
                  <%= sento.name %>
                <% end %>
            <% end %>
        <% else %>
                <i class="fas fa-hot-tub fa-lg"></i>  最寄り銭湯︎:まだ情報はありません
        <% end %>
      </div>
        <% park.park_tags.each do |park_tag| %>
              <%= link_to parks_path(park_tag_id: park_tag.id), class: "btn btn-outline-warning rounded-pill btn-sm mt-2 mb-1" do %>
                <%= park_tag.name %>
              <% end %>
        <% end %>
      <div id="park-btn-<%= park.id %>">
        <h5>
          <%= render 'public/parks/park_favorite_buttun', park: park %>
        </h5>
      </div>
</div>
