<i class="far fa-file-alt fa-lg"></i> レビュー評価:<span class="rate_number"><%= park.park_reviews.average(:star).to_f.round(1) %></span>
<div id="average_rate"></div>
        <script>
        $(document).on('turbolinks:load', function() {
          let elem = document.querySelector('#average_rate');
          if (elem == null) return;
          elem.innerHTML = "";
          let opt = {
            starOn: "<%= asset_path('star-on.png') %>",
            starOff: "<%= asset_path('star-off.png') %>",
            starHalf: "<%= asset_path('star-half.png') %>",
            half: true,
            readOnly: true,
            score: "<%= park.park_reviews.average(:star).to_f.round(1) %>",
          };
          raty(elem, opt);
        });
        </script>



