<%= link_to  parks_path, class: "back-link-park-sento" do %>
  <i class="fas fa-angle-double-left"></i>PARK LIST
<% end %>
/<%= link_to  park_path(@park), class: "back-link-park-sento" do %>
  <i class="fas fa-angle-double-left"></i>PARK
<% end %>
<%= render 'layouts/errors', obj: @park, obj: @park_review %>
<h2 class="park-sento-name"><%= @park.name %>のレビュー</h2>
<!--<div class="card col-12 bg-none">-->
<div class="review-post">
  <h2 class="review-title">レビューを投稿</h2>
    <%= form_with model: [@park, @park_review] do |f| %>
        <%= f.text_area :comment, class: 'form-control col-5', placeholder: '5文字以上200字以内' %>
        <div class="form-group-rank col-5">
          <strong>評価:</strong>
          <span id="star"></span>
      　</div>
      　<div class="review-submit col-5">
      　  <%= f.submit "レビューする", class: 'btn btn-sm btn-secondary pl-3 pr-3' %>
      　</div>
    <% end %>
</div>
<div class="review-title-box">
  <h2 class="review-title">ユーザーのレビュー(<%= @park.park_reviews.count %>件)</h2>
  <h5><%= render 'public/parks/rate_average', park: @park %></h5>
</div>


<div>
  <% if @park.park_reviews.present? %>
    <% @park.park_reviews.each do |park_review| %>
      <div class="review-comment-box">
          <div class="reviewer-name-date">
            <div class="reviewer-name">
              <i class="fas fa-user"></i>：<%= park_review.user.name %>
            </div>
            <span class="review-date"><%= l park_review.created_at, format: :default %></span>
          </div>
          <span class="reviewer-star">
          <div id="star-rate<%= park_review.id%>"></div>
          <script>
              $("#star-rate<%= park_review.id%>").empty();
              raty(document.getElementById("star-rate<%= park_review.id%>"),
              {
              size     : 36,
              starOff:  '<%= asset_path('star-off.png') %>',
              starOn : '<%= asset_path('star-on.png') %>',
              score: '<%= park_review.star %>',
              half: false,
              readOnly: true,
              });
          </script>
          </span>
          <div class="review-comment">
            <%= park_review.comment %><br>
          </div>
      </div>
    <% end %>
  <% else %>
      <h4>まだレビューがありません</h4>
  <% end %>
  </div>

          <script>
              $('#star').empty();
              raty(document.getElementById('star'),
              {
              size     : 36,
              starOff:  '<%= asset_path('star-off.png') %>',
              starOn : '<%= asset_path('star-on.png') %>',
              scoreName: 'park_review[star]',
              half: false,
              });
          </script>


