<h3><%= @park.name %>のレビュー</h3>


<%= link_to 'パークの詳細に戻る', park_path(@park) %>

<%= form_with model: [@park, @park_review] do |f| %>
  <%= f.text_area :comment, placeholder: '5文字以上200字以内' %>
    <div class="form-group">
      <%= f.label :star,'評価 ', class: 'col-md-3 col-form-label' %>
      <div id="star"></div>
  　</div>
  <%= f.submit "レビューする" %>
<% end %>

<div>
  <h5>ユーザーのレビュー</h5>
  レビュー数:<%= @park.park_reviews.count %>件
  <br>
  <% @park.park_reviews.each do |park_review| %>
    投稿したユーザー：<%= park_review.user.name %>
    <div id="star-rate<%= park_review.id%>">
    </div>
    <%= park_review.comment %>
    <br>
    <script>
      $("#star-rate<%= park_review.id%>").empty();
      raty(document.getElementById("star-rate<%= park_review.id%>"),
        {
      size     : 36,
      starOff:  '<%= asset_path('star-off.png') %>',
      starOn : '<%= asset_path('star-on.png') %>',
      score: '<%= park_review.star %>',
      half: false,
      readOnly: true,
        });
    </script>
  <% end %>
</div>

<script>
  $('#star').empty();
  raty(document.getElementById('star'),
    {
  size     : 36,
  starOff:  '<%= asset_path('star-off.png') %>',
  starOn : '<%= asset_path('star-on.png') %>',
  scoreName: 'park_review[star]',
  half: false,
    });
</script>

