<h3>投稿タグ新規作成・一覧</h3>
  <%= form_with model: @post_tag, url: admin_post_tags_path, method: :post do |f| %>
    <%= f.text_field :name, placeholder: 'タグ名' %>
    <%= f.submit "登録する" %>
  <% end %>

<h3>投稿タグ一覧</h3>
  <% @post_tags.each do |post_tag| %>
    <ul>
      <li><%= post_tag.name %>
          <%= link_to "変更する", edit_admin_post_tag_path(post_tag.id) %>
      </li>
    </ul>
  <% end %>