<h2 class="admin-title mt-5"><%= @user.name %>を編集</h2>
  <%= form_with model: @user, url: admin_user_path, method: :patch do |f| %>
    <%= render 'layouts/errors', obj: @user %>
    <table class="table">
        <tbody>
            <tr>
                <td>会員ID</td>
                <td><%= @user.id %></td>
            </tr>
            <tr>
                <td>ユーザーネーム</td>
                <td><%= f.text_field :name, class: 'form-control col-7' %></td>
            </tr>
            <tr>
                <td>メールアドレス</td>
                <td><%= f.text_field :email, class: 'form-control col-7' %></td>
            </tr>
            <tr>
                <td>会員ステータス</td>
                <td><%= f.radio_button :is_deleted, false %>
                    <%= f.label :is_deleted, '有効' %>
                    <%= f.radio_button :is_deleted, true %>
                    <%= f.label :is_deleted, '退会' %></td>
            </tr>
            <tr>
                <td><%= f.submit "編集する", class: "btn btn-success col-4" %></td>
            </tr>
        </tbody>
    </table>
  <% end %>

