<h2 class="log-sign-title mt-5">Log in</h2>

<div class="card-block">
  <div class="card col-5 mb-5">
    <div class="card-title">
      WELCOME TO<br> SKATE AND SENTO
    </div>
    <div class="card-body login-card-body">
      <%= form_with model: resource, url: user_session_path do |f| %>
        <%= render "public/shared/error_messages", resource: resource %>
          <%#= f.label :メールアドレス %>
            <div class="input-group mb-3">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: 'メールアドレス' %>
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-envelope"></span>
                  </div>
                </div>
            </div>
          <%#= f.label :パスワード %>
            <div class="input-group mb-3">
              <%= f.password_field :password, autocomplete: "current-password", class: 'form-control', placeholder: 'パスワード' %>
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-lock"></span>
                  </div>
                </div>
            </div>
          <% if devise_mapping.rememberable? %>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end %>
            <div class='row'>
              <div class='col-12'>
                <%= f.submit "Log in", class: "form-control btn btn-secondary mb-3" %>
                <%= link_to "ゲストとしてログイン", users_guest_sign_in_path, method: :post, class: "form-control btn btn-warning"  %>
              </div>
            </div>
      <% end %>
    </div>
      <%= render "public/shared/links" %>
    </div>
</div>


