<h3 class="favorite-park-sento-titile mt-5">My Favorite Parks</h3>
  <% if @favorite_parks.present? %>
    <div class="row">
      <% @favorite_parks.each do |park| %>
        <div class="col-lg-4">
          <div class="card mb-5">
            <%= image_tag park.park_images.first %>
            <div class="card-body">
              <div class="card-text">
                  <p class="favarite-park-sento-name">
                    <%= link_to park_path(park.id), class: 'favarite-park-sento-name-link' do %>
                      <%= park.name %>
                    <% end %>
                  </p>
                  <p class="gfavorite-park-sento-area">
                    エリア：<%= park.prefecture_id %>
                  </p>
                  <div id="park-btn-<%= park.id %>">
                    <h5><%= render 'public/parks/park_favorite_buttun', park: park %></h5>
                  </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <h4>お気にり登録はありません</h4>
  <% end %>