<h3>My Favorite Parks</h3>
    <% if @favorite_parks.present? %>
        <% @favorite_parks.each do |park| %>
          <h4><%= link_to park_path(park.id) do %><%= park.name %><% end %></h4>
            <div id="park-btn-<%= park.id %>">
              <h5><%= render 'public/parks/park_favorite_buttun', park: park %></h5>
            </div>
              <%= park.address %>
              エリア：<%= park.prefecture_id %>
              <br>
              <% park.park_images.each do |park_image| %>
                <%= image_tag park_image, size: '200x200' %>
              <% end %>
        <% end %>
    <% else %>
        <h4>お気にり登録はありません</h4>
    <% end %>