<%= link_to  parks_path, class: "back-link-park-sento" do %>
  <i class="fas fa-angle-double-left"></i>PARK LIST
<% end %><br>

<h3 class="favorite-park-sento-titile mt-5">
  My Favorite Parks
  <span id="count">
    <%= render 'public/park_favorites/count', favorite_parks: @favorite_parks %>
  </span>
</h3>
<% if @favorite_parks.present? %>
  <div class="row favorite-box">
    <% @favorite_parks.each do |park| %>
      <div class="col-md-4">
        <div class="card mb-4">
          <%= image_tag park.park_images.first, class: 'card-img-top', height:'250' %>
          <div class="card-body">
            <h5 class="card-title mt-2 text-left">
              <%= link_to park_path(park.id), class: 'favarite-park-sento-name-link' do %>
                <%= park.name %>
              <% end %>
            </h5>
            <ul class="list-unstyled">
              <li>エリア：<%= park.prefecture_id %></li>
            </ul>
            <div id="park-btn-<%= park.id %>">
              <%= render 'public/parks/park_favorite_buttun', park: park %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <h4>お気にり登録はありません</h4>
<% end %>







