<%= link_to  posts_path, class: "back-link-park-sento" do %>
 <i class="fas fa-angle-double-left"></i>他エリアのSKATE AND SENTO
<% end %><br>
<h2 class="review-title mt-5 mb-5">
  "<%= @user.name %>"のSKATE AND SENTO(全<%= @posts.total_count %>件)
</h2>
<%= render 'public/posts/list', posts: @posts, post_comment: @post_comment, user: @user %>
<div class="page">
    <%= paginate @posts %>
</div>