<%= link_to  sentos_path, class: "back-link-park-sento" do %>
  <i class="fas fa-angle-double-left"></i>銭湯 LIST
<% end %><br>
<h3 class="favorite-park-sento-titile mt-5">
  My Favorite 銭湯
  <span id="count">
    <%= render 'public/sento_favorites/count', favorite_sentos: @favorite_sentos %>
  </span>
</h3>
  <% if @favorite_sentos.present? %>
    <div class="row favorite-box">
      <% @favorite_sentos.each do |favorite_sento| %>
        <div class="col-md-4">
          <div class="card mb-4">
              <%= image_tag favorite_sento.sento.sento_images.first, class: 'card-img-top', height:'250' %>
              <div class="card-body">
                <h5 class="card-title mt-2 text-left">
                  <%= link_to sento_path(favorite_sento.sento.id), class: 'favarite-park-sento-name-link' do %>
                    <%= favorite_sento.sento.name %>
                  <% end %>
                </h5>
                <ul class="list-unstyled">
                    <li>エリア：<%= favorite_sento.sento.prefecture_id %></li>
                </ul>
                <div id="sento-btn-<%= favorite_sento.sento.id %>">
                  <h5><%= render 'public/sentos/sento_favorite_buttun', sento: favorite_sento.sento%></h5>
                </div>
              </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <h4>お気に入り登録はありません</h4>
  <% end %>
<div class="page">
  <%= paginate @favorite_sentos %>
</div>