<!--<nav class="navbar navbar-expand-lg navbar-light">-->
<!--    <div class="container-fluid">-->
<div class="header-container">
  <!--<%# if admin_signed_in? %>-->
  <!--  <div class ="main-logo">-->
  <!--    <%#= link_to "SKATE AND SENTO(管理者用)", root_path, class: "main-logo-link" %>-->
  <!--  </div>-->
  <!--<%# else %>-->

  <%# end %>
  <!--        <div class="collapse navbar-collapse justify-content-around">-->
  <!--          <ul class="navbar-nav ml-auto">-->
  <div id="hm-icon">
      <a class="menu-trigger" href="#">
        <span></span>
        <span></span>
        <span></span>
      </a>
  </div>
  <% if request.fullpath.include? "admin" %>
    <div id="sp-menu">
      <% if admin_signed_in? %>
        <ul class="nav-list-position">
          <li><%= link_to "パーク", admin_parks_path, class: 'nav-link' %></li>
          <li><%= link_to "銭湯", admin_sentos_path, class: 'nav-link' %></li>
          <li><%= link_to "パークレビュー", admin_park_reviews_path, class: 'nav-link' %></li>
          <li><%= link_to "銭湯レビュー", admin_sento_reviews_path, class: 'nav-link' %></li>
          <li><%= link_to "ユーザー", admin_users_path, class: 'nav-link' %></li>
          <li><%= link_to "ユーザー投稿", admin_posts_path, class: 'nav-link' %></li>
          <li><%= link_to "パークタグ", admin_park_tags_path, class: 'nav-link' %></li>
          <li><%= link_to "銭湯タグ", admin_sento_tags_path, class: 'nav-link' %></li>
          <li><%= link_to "投稿タグ", admin_post_tags_path, class: 'nav-link' %></li>
          <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'nav-link' %></li>
        </ul>
      <% else %>
        <ul class="nav-list-position">
          <li><%= link_to "ログインする", new_admin_session_path, class: 'nav-link' %></li>
        </ul>
      <% end %>
    </div>
  <% else %>
    <div id="sp-menu">
        <% if user_signed_in? %>
          <ul class="nav-list-position">
            <li><%= link_to "SKATEPARK", parks_path, class: 'nav-link' %></li>
            <li><%= link_to "銭湯", sentos_path, class: 'nav-link' %></li>
            <li><%= link_to "お気に入りPARK", park_favorites_users_path, class: 'nav-link' %></li>
            <li><%= link_to "お気に入り銭湯", sento_favorites_users_path, class: 'nav-link' %></li>
            <li><%= link_to "NEW POST", posts_path, class: 'nav-link' %></li>
            <li><%= link_to "ユーザーのSKATEANDSENTO", posts_path, class: 'nav-link' %></li>
            <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, data:{ confirm: 'ログアウトしますか？'}, class: 'nav-link'%></li>
            <li><%= link_to "マイページ", my_page_users_path, class: 'nav-link' %></li>
            <li>HELLO!!<%= current_user.name %>!</li>
          </ul>
        <% else %>
          <ul class="nav-list-position">
            <li><%= link_to "新規登録", new_user_registration_path, class: 'nav-link' %></li>
            <li><%= link_to "ログイン", new_user_session_path, class: 'nav-link' %></li>
            <li><%= link_to "ABOUT", about_path, class: 'nav-link' %></li>
            <li><%= link_to "SKATEPARK", parks_path, class: 'nav-link' %></li>
            <li><%= link_to "銭湯", sentos_path, class: 'nav-link' %></li>
          </ul>
        <% end %>
      </div>
    <div class="search">
      <%= render 'public/searches/form' %>
    </div>
  <% end %>
</div>





