<!--<nav class="navbar navbar-expand-lg navbar-light">-->
<!--    <div class="container-fluid">-->
       <a class="navbar-brand p-3" href="/">SKATE AND SENTO<%#= image_tag) %></a>
<!--        <div class="collapse navbar-collapse justify-content-around">-->
<!--          <ul class="navbar-nav ml-auto">-->
            <% if request.fullpath.include? "admin" %>
              <% if admin_signed_in? %>
                  <%= link_to "パーク", admin_parks_path %>
                  <%= link_to "銭湯", admin_sentos_path %>
                  <%= link_to "ユーザー一覧", admin_users_path %>
                  <%= link_to "ユーザー投稿一覧", admin_posts_path %>
                  <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
              <% else %>
                  <%= link_to "ログインする", new_admin_session_path %>
              <% end %>
              <% else %>
              <% if user_signed_in? %>
                  HELLO!!<%= current_user.name %>!
                  <%= link_to "SKATEPARK", parks_path %>
                  <%= link_to "銭湯", sentos_path %>
                  <%= link_to "NEW POST", posts_path %>
                  <%= link_to "ユーザーのSKATEANDSENTO", posts_path %>
                  <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
                  <%= link_to "マイページ", my_page_users_path %>
              <% else %>
                  <%= link_to "新規登録", new_user_registration_path %>
                  <%= link_to "ログイン", new_user_session_path %>
                  <%= link_to "ABOUT", about_path %>
              <% end %>
            <% end %>





