<!DOCTYPE html>
<html>
  <head>
    <title>SkateAndSento</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>

  <body>
    <div class="container">
      <header>
        <div class="header-logos">
          <div class="logo-image mt-3">
           <img src="/assets/6ae60c544e7133acd317435138e2ec92.png" alt="">
          </div>
          <div class ="main-logo">
           <%= link_to "SKATE AND SENTO", root_path, class: "main-logo-link" %>
          </div>
        </div>
        <%= render 'layouts/header' %>
      </header>
      <div class="flash-message-bar">
        <%= flash[:notice] %>
        <div id="flash_message">
          <%= render 'layouts/flash' %>
        </div>
      </div>
      <span id="back">
        <a href="">
          <%= image_tag asset_path('arrow.png'), data: {"turbolinks"=>false}, class: "arrow" %>
        </a>
      </span>
      <%= yield %>
    </div>
  </body>
</html>
